.navbar {
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff2f3;
    padding: 0px 0rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s all;
    margin-left: 4rem;
}

.logo:hover {
    scale: 1.05;
}

.logo .logoPic {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 10px;
    border-radius: 0.5rem;
}

.logo .title {
    color: #333;
}

.navigation-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation-menu li {
    position: relative;
    margin: 0 20px;
    transition: 0.5s all;
}

.navigation-menu>li:hover {
    scale: 1.1;
}

.navigation-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.navigation-menu li:hover .subnav {
    display: block;
}

.navigation-menu li .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 10px 0px;
    list-style: none;
    z-index: 1000;
    min-width: auto;
}

.navigation-menu li .subnav .nav-card {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
    white-space: nowrap;
    border-radius: 0.5rem;
}

.navigation-menu li .subnav .nav-card:hover {
    background-color: #ffb4bb;
}

.navigation-menu li .subnav .nav-card:hover a svg {
    transform: translateX(2px);
}

.navigation-menu li .subnav .nav-card .card-image {
    margin-right: 10px;
}

.navigation-menu li .subnav .nav-card svg {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.navigation-menu li .subnav .nav-card a {
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-left: 1rem;
    cursor: pointer;
}

.navigation-menu li .subnav .nav-card a svg {
    margin-left: 1rem;
    height: 2rem;
    weight: 2rem;
    font-weight: 700;
    border: none;
    transition: 0.3s all;
}

.navigation-menu li .subnav .nav-card a svg:hover {
    transform: translateX(4px);
    color: #ff717f;
}

.navigation-menu li .subnav .nav-card a span:first-child {
    font-weight: bold;
}

.nav-icons {
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

.nav-icons svg {
    cursor: pointer;
    transition: 0.5s all;
}

.nav-icons svg:hover {
    scale: 1.1;
}

.nav-icons .nav-button {
    background-color: #ff717f;
    border: none;
    padding: 10px 12px;
    margin-left: 1.5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 4px;
    transition: 0.5s all;
}

.nav-icons .nav-button:hover {
    background-color: #ff5162;
    scale: 1.05;
}